server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: cluster-service-route
          uri: lb://cluster-service
          predicates:
            - Path=/api/clusters,/api/clusters/**
        
        - id: node-service-cluster-nodes-route
          uri: lb://node-service
          predicates:
            - Path=/api/clusters/*/nodes,/api/clusters/*/nodes/**
        
        - id: node-service-all-nodes-route
          uri: lb://node-service
          predicates:
            - Path=/api/nodes,/api/nodes/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://eureka-server:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

spring.config.import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}
